* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #02012b;
    color: white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

/* Header Styles */

header {
    margin: 20px 0px;
    display: flex;
    color: white;
    width: 100%;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

ul li i.weather-logo {
    color: yellow;
}

ul li span {
    background-color: #252442;
    border: none;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
}

ul li span .settings-link {
    margin-right: 8px;
    color: white;
    text-decoration: none;
}
ul li span .dropdown-link {
    margin-left: 8px;
    color: white;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* Main Section Styles */

main section .container > h1 {
    text-align: center;
}

/* Search Form Styles */

main section .container > form {
    margin: 40px auto;
    display: flex;
    width: 50%;;
}

main section .container > form i {
    position: relative;
    left: 30px;
    transform: translateY(80%);
    height: fit-content;
}

main section .container > form input[type="text"] {
    padding: 15px 10px 15px 40px;
    width: 80%;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #252541;
    color: white;
}

main section .container > form button {
    flex-basis: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4657d9;
    color: white;
    cursor: pointer;
}

/* Weather Info Styles */

main section .container .info {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
}

main section .container .info .left {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

main section .container .info .left span h2 {
    margin-bottom: 10px;
}

main section .container .info .left .weather-card {
    background-image: url("weatherback.png");
    background-size: cover;
    padding: 30px 20px;
}

main section .container .info .left .weather-res-city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

main section .container .info .left .weather-res-city span p {
    color: rgba(255, 255, 255, 0.63);
}

main section .container .info .left .weather-res-city h1 {
    font-weight: 100;
    font-style: italic;
    font-size: 70px;
}

main section .container .info .left div {
    border-radius: 20px;
}

main section .container .info .more-details .details-grid {
    display: flex;
    gap: 15px;
}

main section .container .info .more-details .details-grid div {
    background-color: #252541;
    border-radius: 10px;
    padding: 20px 35px 20px 15px;
    width: 100%;
    box-shadow: 0px 0px 2px lightblue;
}

main section .container .info .more-details .details-grid div p:first-child {
    margin-bottom: 15px;
}

main section .container .info .more-details .details-grid div p:last-child {
    font-size: x-large;
}

main section .container .info .Daily-forecast h3 {
    margin-bottom: 20px;
}

main section .container .info .Daily-forecast .forecast-grid {
    display: flex;
    gap: 15px;
}

main section .container .info .Daily-forecast .forecast-grid > div {
    background-color: #252540;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    padding: 20px 5px;
    width: 100%;
    box-shadow: 0px 0px 2px lightblue;
}

main section .container .info .Daily-forecast .forecast-grid .forecast-item .degrees {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main section .container .info .hourly-forecast {
    background-color: #252541;
    flex-basis: 35%;
    border-radius: 20px;
    padding: 20px 0 20px 20px;
}

main section .container .info .hourly-forecast .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 15px;
}

main section .container .info .hourly-forecast .top span {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3c3b5c;
    color: white;
}

main section .container .info .hourly-forecast .top span a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

main section .container .info .hourly-forecast .hourly-grid {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #383853 #252441;
    height: 565.4px;
    padding: 1px 0 1px 1px;
}

main section .container .info .hourly-forecast .hourly-grid > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2f2f4b;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px lightblue;
    margin-right: 10px;
}

main section .container .info .hourly-forecast .hourly-grid .hourly-item span {
    display: flex;
    align-items: center;
    gap: 10px;
}



